<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367568054526-d89sjg2ubpka03so2ovaouv33u6oq3d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367568054526-d89sjg2ubpka03so2ovaouv33u6oq3d3</string>
	<key>API_KEY</key>
	<string>AIzaSyD9kMGUiwG9AEE2LNqYz1ugUwHM30tU4Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>367568054526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.home</string>
	<key>PROJECT_ID</key>
	<string>chat-7af0f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7af0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367568054526:ios:b6d375fda8d30740851daf</string>
</dict>
</plist>